<div ui-sortable="vm.sortableOptions" ng-model="vm.Form.fields">
    <div ng-repeat="field in vm.Form.fields" class="row">
        <div class="col-sm-1 fs-md-space" ng-if="vm.Params.edit">
            <i class="flaticon flaticon-move icon-md fs-cursor-move handle" data-toggle="tooltip" data-placement="top"
                title="Mover campo"></i>
        </div>
        <div class="col-sm-11">
            <div class="form-group">
                <label>Campo</label>
                <input class="form-control input-lg" fluig-autocomplete dataset="jh_field_checklist" display-key="title"
                    ng-model="field.field" name="field_field_i">
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="vm.Params.edit">
    <div class="col-sm-12">
        <button class="btn btn-default" ng-click="vm.Form.fields.push({})">
            Novo <i class="fluigicon fluigicon-plus icon-sm"></i>
        </button>
    </div>
</div>