<div ng-repeat="field in vm.Form.fields">
    <div class="form-group">
        <label>Campo</label>
        <input class="form-control input-lg" fluig-autocomplete dataset="jh_field_checklist"  display-key="title"
            ng-model="field.field" name="field_field_i">
    </div>
</div>

<div class="row" ng-show="vm.Params.edit">
    <div class="col-sm-12">
        <button class="btn btn-default" ng-click="vm.Form.fields.push({})">
            Novo <i class="fluigicon fluigicon-plus icon-sm"></i>
        </button>
    </div>
</div>