<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

            <div class="col-sm-4">
                <label class="control-label">Título</label>
                <input type="text" class="form-control input-lg" name="title" ng-model="vm.Form.title"
                    ng-value="vm.Form.title" ng-blur="vm.changeTitle()">
            </div>
            <div class="col-sm-8">
                <label class="control-label">Ajuda</label>
                <input type="text" class="form-control input-lg" name="help" ng-model="vm.Form.help"
                    ng-value="vm.Form.help">
            </div>

        </div>

    </div>
</div>