<html ng-app="jhApp">

<head>
	<!-- partial:../partials/head.html -->
	<!-- partial -->
	<title>Checklist de Equipamentos</title>
</head>

<body ng-controller="jhController as vm">
	<div class="fluig-style-guide ng-cloak">
		<div class="container-fluid">
			<form name="form" role="form" class="form form-horizontal">

				<div class="panel panel-info">
					<div class="panel-heading">
						<img src="/jh_lib/images/logo.png" style="max-width: 20%; max-height: 20%">
					</div>
				</div>

				<!-- partial:partials/angularMap.html -->
				<!-- partial -->
				<!-- partial:partials/header.html -->
				<!-- partial -->

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							EQUIPAMENTO
						</h3>
					</div>
					<div class="panel-body">
						<!-- partial:partials/equipment.html -->
						<!-- partial -->
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							ORIENTAÇÕES
						</h3>
					</div>
					<div class="panel-body">
						<!-- partial:partials/orientacoes.html -->
						<!-- partial -->
					</div>
				</div>

				<div class="panel panel-default" ng-repeat="group in vm.Form.groups">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{group.group.title}}
						</h3>
					</div>
					<div class="panel-body">
						<div ng-if="group.group.groupType == 'checklist'">
							<!-- partial:partials/checklist.html -->
							<!-- partial -->
						</div>

						<div ng-if="group.group.groupType == 'images'">
							<!-- partial:partials/images.html -->
							<!-- partial -->
						</div>

						<div ng-if="group.group.groupType == 'fields'">
							<!-- partial:partials/fields.html -->
							<!-- partial -->
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>

</html>