<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group col-sm-4">
                    <label class="control-label">Característica de Controle</label>
                    <textarea elastic class="form-control input-lg" name="title" ng-model="vm.Form.title"
                        ng-value="vm.Form.title" ng-blur="vm.changeTitle()"></textarea>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">Instrução</label>
                    <textarea elastic class="form-control input-lg" name="instruction" ng-model="vm.Form.instruction"
                        ng-value="vm.Form.instruction"></textarea>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">Critério de Aceitação</label>
                    <textarea elastic class="form-control input-lg" name="acceptanceCriteria"
                        ng-value="vm.Form.acceptanceCriteria" ng-model="vm.Form.acceptanceCriteria"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>