<input name="Params" type="hidden" id="Params" ng-value="vm.Params | json:0">
<input name="Errors" type="hidden" id="Errors" ng-value="vm.Errors | json:0">

<input name="displaykey" type="hidden" ng-value="vm.Form.title">
<input type="hidden" name="processInstanceId" ng-value="vm.Form.processInstanceId">
<textarea hidden name="solicitante" ng-value="vm.Form.solicitante | json:0"
  ng-bind="vm.Form.solicitante | json:0"></textarea>
<input type="hidden" name="requestDate" ng-value="vm.Form.requestDate">
<input type="hidden" name="area" ng-value="vm.Form.area">

<table hidden tablename="options" noaddbutton="true" nodeletebutton="true">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody ng-non-bindable>
    <tr ng-repeat="option in vm.Form.options">
      <td>
        <div class="td-content">
          <input type="hidden" ng-value="option.label" name="option_label">
          <input type="hidden" ng-value="option.value" name="option_value">
        </div>
      </td>
    </tr>
  </tbody>
</table>