<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Título</label>
                <input type="text" class="form-control input-lg" name="title" ng-model="vm.Form.title"
                    ng-value="vm.Form.title" ng-blur="vm.changeTitle()">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label">Campo para integração</label>
                <input type="text" class="form-control input-lg" name="fieldName" ng-model="vm.Form.fieldName"
                    ng-value="vm.Form.fieldName">
            </div>
            <div class="col-sm-2">
                <label class="control-label">Formato do campo</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="fieldFormat_i" ng-name="fieldFormat_i" ng-model="vm.Form.fieldFormat"
                            value="combo"> Combo
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fieldFormat_i" ng-name="fieldFormat_i" ng-model="vm.Form.fieldFormat"
                            value="livre"> Livre
                    </label>
                    <input type="hidden" name="fieldFormat" ng-value="vm.Form.fieldFormat">
                </div>
            </div>
            <div class="col-sm-2" ng-show="vm.Form.fieldFormat == 'livre'">
                <label class="control-label">Tipo do campo</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="fieldType_i" ng-name="fieldType_i" ng-model="vm.Form.fieldType"
                            value="text"> Texto
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fieldType_i" ng-name="fieldType_i" ng-model="vm.Form.fieldType"
                            value="number"> Numérico
                    </label>
                    <input type="hidden" name="fieldType" ng-value="vm.Form.fieldType">
                </div>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Mostra Observações</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="showObservations_i" ng-name="showObservations_i"
                            ng-model="vm.Form.showObservations" value="S"> SIM
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="showObservations_i" ng-name="showObservations_i"
                            ng-model="vm.Form.showObservations" value="N"> NÃO
                    </label>
                    <input type="hidden" name="showObservations" ng-value="vm.Form.showObservations">
                </div>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Obrigatório</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="mandatory_i" ng-name="mandatory_i" ng-model="vm.Form.mandatory"
                            value="S"> SIM
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="mandatory_i" ng-name="mandatory_i" ng-model="vm.Form.mandatory"
                            value="N"> NÃO
                    </label>
                    <input type="hidden" name="mandatory" ng-value="vm.Form.mandatory">
                </div>
            </div>
            <div class="col-sm-1" ng-show="vm.Form.fieldFormat == 'livre'">
                <label class="control-label">Tamanho</label>
                <input type="text" class="form-control input-lg" name="fieldSize" ng-model="vm.Form.fieldSize"
                    ng-value="vm.Form.fieldSize">
            </div>
        </div>
    </div>
</div>