<div class="row" ng-show="vm.regras.showHeader">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group col-sm-3">
                    <label class="control-label">Processo</label>
                    <h4 class="form-control input-lg">{{vm.Form.processInstanceId}}</h4>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label">Data</label>
                    <h4 class="form-control input-lg">{{vm.Form.requestDate | date:'dd/MM/yyyy HH:mm'}}</h4>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Solicitante</label>
                    <h4 class="form-control input-lg">{{vm.Form.solicitante.colleagueName}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>