<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-striped" tablename="materiais" noaddbutton="true"
            nodeletebutton="true">
            <thead>
                <tr>
                    <th class="col-sm-1">Selecione</th>
                    <th class="col-sm-10">Produto</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody ng-non-bindable>
                <tr ng-repeat="material in vm.Form.materiais">
                    <td>
                        <input type="checkbox" name="material_seleciona" id="material_seleciona"
                            ng-model="material.seleciona">
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Código</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_produtoCod" ng-model="material.produto"
                                        dataset="protheus_consulta_produto" min-length="3" display-key="codigo">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="">Descrição</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_produtoDes" ng-model="material.produto"
                                        dataset="protheus_consulta_produto" min-length="3" display-key="descricao">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="">Quantidade</label>
                                    <input type="text" fluig-number-mask class="form-control input-lg"
                                        name="material_qty_i" ng-model="material.qty">
                                    <input type="hidden" name="material_qty" ng-value="material.qty">
                                </div>
                            </div>
                            <textarea hidden name="material_produto" ng-value="material.produto | json:0"></textarea>
                        </div>
                        <div class="row" ng-show="vm.regras.showDestino">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Local Destino</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_destinoDes" ng-model="material.destino"
                                        dataset="protheus_consulta_local" display-key="codigo">
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="material.destino.codigo">
                                <div class="form-group">
                                    <label for="">Endereço</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_enderecoInput" ng-model="material.endereco"
                                        dataset="protheus_consulta_endereco"
                                        filter-fields="['codLocal',material.destino.codigo]" display-key="endereco">
                                </div>
                            </div>
                            <textarea hidden name="material_destino" ng-value="material.destino | json:0"></textarea>
                            <input type="hidden" name="material_destinoCod" ng-value="material.destino.codigo">
                            <textarea hidden name="material_endereco" ng-value="material.endereco | json:0"></textarea>
                            <input type="hidden" name="material_enderecoCod" ng-value="material.endereco.endereco">
                        </div>
                    </td>
                    <td class="fs-text-right">
                        <span ng-if="vm.Params.edit" ng-click="vm.removeChild(vm.Form.materiais, material)"
                            class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.Form.materiais.push({})">Incluir Produto</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.selecionarTodos()">Selecionar Todos</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.limparSelecao()">Limpar Seleçao</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.removeSelecionados(vm.Form.materiais)">Remover Selecionados</button>

        <button ng-if="vm.regras.enableDestino" type="button" class="btn btn-lg btn-default"
            ng-click="vm.openModalDirecionar()">Direcionar Produtos</button>

    </div>
</div>

<div ng-if="vm.direcionarModal" class="popup animated fluig-style-guide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Direcionar Produtos</span>
            <i class="fs-float-right flaticon flaticon-close icon-lg fs-cursor-pointer"
                ng-click="vm.direcionarModal = false;"></i>
        </div>

        <div class="panel-body">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Destino</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="armazemDestino"
                        ng-model="vm.armazemDestino" dataset="protheus_consulta_local" display-key="codigo">
                </div>
            </div>
            <div class="col-sm-6" ng-if="vm.armazemDestino.codigo">
                <div class="form-group">
                    <label for="">Endereço</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="enderecoDestino"
                        ng-model="vm.enderecoDestino" dataset="protheus_consulta_endereco"
                        filter-fields="['codLocal',vm.armazemDestino.codigo]" display-key="endereco">
                </div>
            </div>

        </div>
        <div class="panel-footer">

            <a class="btn btn-defaul btn-lg fs-cursor-pointer" ng-click="vm.direcionarModal = false">
                Cancelar
            </a>

            <a class="btn btn-success btn-lg" ng-click="vm.alteraSelecionados()">
                Salvar
            </a>

        </div>
    </div>
</div>