<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-striped" tablename="materiais" noaddbutton="true"
            nodeletebutton="true">
            <thead>
                <tr>
                    <th class="col-sm-1">Selecione</th>
                    <th class="col-sm-10">Produto</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody ng-non-bindable>
                <tr ng-repeat="material in vm.Form.materiais">
                    <td>
                        <input type="checkbox" name="material_seleciona" id="material_seleciona"
                            ng-model="material.seleciona">
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Código</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_produtoCod" ng-model="material.produto"
                                        dataset="protheus_consulta_produto" min-length="3" display-key="codigo"
                                        ng-change="vm.changeProduto(material)">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="">Descrição</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_produtoDes" ng-model="material.produto"
                                        dataset="protheus_consulta_produto" min-length="3" display-key="descricao"
                                        ng-change="vm.changeProduto(material)">
                                </div>
                            </div>
                            <!-- <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="">Quantidade</label>
                                    <input type="text" fluig-number-mask class="form-control input-lg"
                                        name="material_qty_i" ng-model="material.qty">
                                    <input type="hidden" name="material_qty" ng-value="material.qty">
                                </div>
                            </div> -->
                            <textarea hidden name="material_produto" ng-value="material.produto | json:0"></textarea>
                        </div>
                        <div class="row" ng-show="vm.regras.showOrigem">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Armazém Origem</label>
                                    <input type="text" class="form-control input-lg" name="material_armazemOrig_i"
                                        ng-value="material.armazemOrig.codigo" ng-readonly="true">
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="material.armazemOrig.codigo">
                                <div class="form-group">
                                    <label for="">Endereço Origem</label>
                                    <input type="text" class="form-control input-lg" name="material_enderecoOrig_i"
                                        ng-value="material.enderecoOrig.endereco" ng-readonly="true">
                                </div>
                            </div>
                            <textarea hidden name="material_armazemOrig"
                                ng-value="material.armazemOrig | json:0"></textarea>
                            <input type="hidden" name="material_armazemOrigCod" ng-value="material.armazemOrig.codigo">
                            <textarea hidden name="material_enderecoOrig"
                                ng-value="material.enderecoOrig | json:0"></textarea>
                            <input type="hidden" name="material_enderecoOrigCod"
                                ng-value="material.enderecoOrig.endereco">
                        </div>


                        <div class="row" ng-show="vm.regras.showDestino">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Armazém Destino</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_armazemDest_i" ng-model="material.armazemDest"
                                        dataset="protheus_consulta_local" display-key="codigo">
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="material.armazemDest.codigo">
                                <div class="form-group">
                                    <label for="">Endereço Destino</label>
                                    <input type="text" fluig-autocomplete class="form-control input-lg"
                                        name="material_enderecoDest_i" ng-model="material.enderecoDest"
                                        dataset="protheus_consulta_endereco"
                                        filter-fields="['codLocal',material.armazemDest.codigo]" display-key="endereco">
                                </div>
                            </div>
                            <textarea hidden name="material_armazemDest"
                                ng-value="material.armazemDest | json:0"></textarea>
                            <input type="hidden" name="material_armazemDestCod" ng-value="material.armazemDest.codigo">
                            <textarea hidden name="material_enderecoDest"
                                ng-value="material.enderecoDest | json:0"></textarea>
                            <input type="hidden" name="material_enderecoDestCod"
                                ng-value="material.enderecoDest.endereco">
                        </div>
                    </td>
                    <td class="fs-text-right">
                        <span ng-if="vm.Params.edit" ng-click="vm.removeChild(vm.Form.materiais, material)"
                            class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.Form.materiais.push({})">Incluir Produto</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.selecionarTodos()">Selecionar Todos</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.limparSelecao()">Limpar Seleçao</button>

        <button ng-if="vm.regras.enableProdutos" type="button" class="btn btn-lg btn-default"
            ng-click="vm.removeSelecionados(vm.Form.materiais)">Remover Selecionados</button>

        <button ng-if="vm.regras.enableDestino" type="button" class="btn btn-lg btn-default"
            ng-click="vm.openModalDirecionar()">Direcionar Produtos</button>

    </div>
</div>

<div ng-if="vm.direcionarModal" class="popup animated fluig-style-guide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Direcionar Produtos</span>
            <i class="fs-float-right flaticon flaticon-close icon-lg fs-cursor-pointer"
                ng-click="vm.direcionarModal = false;"></i>
        </div>

        <div class="panel-body">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Armazém Origem</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="armazemOrigem"
                        ng-model="vm.armazemOrigem" dataset="protheus_consulta_local" display-key="codigo">
                </div>
            </div>
            <div class="col-sm-6" ng-if="vm.armazemOrigem.codigo">
                <div class="form-group">
                    <label for="">Endereço</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="enderecoOrigem"
                        ng-model="vm.enderecoOrigem" dataset="protheus_consulta_endereco"
                        filter-fields="['codLocal',vm.armazemOrigem.codigo]" display-key="endereco">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Armazém Destino</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="armazemDestino"
                        ng-model="vm.armazemDestino" dataset="protheus_consulta_local" display-key="codigo">
                </div>
            </div>
            <div class="col-sm-6" ng-if="vm.armazemDestino.codigo">
                <div class="form-group">
                    <label for="">Endereço</label>
                    <input type="text" fluig-autocomplete class="form-control input-lg" name="enderecoDestino"
                        ng-model="vm.enderecoDestino" dataset="protheus_consulta_endereco"
                        filter-fields="['codLocal',vm.armazemDestino.codigo]" display-key="endereco">
                </div>
            </div>

        </div>
        <div class="panel-footer">

            <a class="btn btn-defaul btn-lg fs-cursor-pointer" ng-click="vm.direcionarModal = false">
                Cancelar
            </a>

            <a class="btn btn-success btn-lg" ng-click="vm.alteraSelecionados()">
                Salvar
            </a>

        </div>
    </div>
</div>