<input name="Params" type="hidden" id="Params" ng-value="vm.Params | json:0">
<input name="Errors" type="hidden" id="Errors" ng-value="vm.Errors | json:0">

<input name="displaykey" type="hidden" ng-value="vm.Form.title">
<input type="hidden" name="processInstanceId" ng-value="vm.Form.processInstanceId">
<textarea hidden name="solicitante" ng-value="vm.Form.solicitante | json:0"
  ng-bind="vm.Form.solicitante | json:0"></textarea>
<input type="hidden" name="requestDate" ng-value="vm.Form.requestDate">
<input type="hidden" name="area" ng-value="vm.Form.area">

<table hidden tablename="groups" noaddbutton="true" nodeletebutton="true">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody ng-non-bindable>
    <tr ng-repeat="group in vm.Form.groups">
      <td>
        <div class="td-content">
          <textarea hidden ng-value="group.group | json:0" ng-bind="group.group | json:0" name="group_group"></textarea>
          <input type="hidden" name="groupId" ng-value="group.group.documentid">
        </div>
      </td>
    </tr>
  </tbody>
</table>